
body {
    font-family: 'Poppins', sans-serif;
    background-color: #41322A;
    background-image: url("images/ornamen.png");
    background-size: cover;
   

}

.nav-link{
    transition: all 0.2s;
}

.nav-link:hover{
    border-bottom: 2px solid #41322A ;
}

.navbar {
    height: 100px;
    background: #EBD6CA;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.nav-link.active.dropdown-toggle{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    color: #7D3A2A;
}

.nav-link{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    color: #7D3A2A;
}

.btn-profile{
    background-color: transparent;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    left: 1225px;
    top: 64px;
    border: 2px solid #41322A;    
    border-radius: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #41322A;
}

.btn-profile:hover{
    border: 2px solid #7D3A2A;
    color:  #7D3A2A;
}


.shopping i{
    color: #41322A;
    margin-right: 10px;
}

.shopping i:hover{
    color: #7D3A2A;
    margin-right: 10px;
}

.dropdown-menu{
    background-color: #EBD6CA;
}

.dropdown-item{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    color: #7D3A2A;
}

.dropdown-item:hover{ 
    background: #CABEC1;
    border-radius: 5px 5px 5px 5px;
}


.h-search-form{
    width: 450px;
    position: relative;
}

.h-search-form input{
    width: 450px;
    padding: 0 30px;
    border-radius: 50px;
    background-color: #CABEC1;
    border: none;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #7D3A2A ;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.h-search-form input:hover{
    background-color: #CABEC1;
    border: none;
}

.h-search-form button{
    position: absolute;
    right: 5px;
    height: 40px;
    border: none;
    color: #EBD6CA;
    top: 45px;
    background: #7D3A2A;
    border-radius: 0px 50px 50px 0px;
    width: 45px;
}

.h-search-form button:hover{
    background: #CABEC1;
}

.btn-item{
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 13px 15px;
    border-radius: 10px;
    background-color: #7D3A2A;
    color: #CABEC1;
    position: absolute;
    top: 140px;
    margin-left: 460px ;
}

.btn-item:hover{
    background-color: #745954;
}

.btn-item i{
    padding-right: 15px;
}

.wrapper{
    max-width:1000px;
    margin: 0 auto;
}

.project{
    display: flex;
}

.shop{
    flex: 75%;
}

.box{
    width: 65%;
    height: 100px;
    overflow: hidden;
    margin-top: 10px;
    background:#EBD6CA;
    transition: all .6s ease;
    box-shadow: rgba(100, 100,111,0.2) 0 7px 29px 0;
    border: 3px solid #41322a;
    border-radius: 20px;
}

.box::hover{
    transform: scale(1.02);
}

.content{
    padding: 20px;
    position: relative;
    width: 100%;
}

.content h3{
    height: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 15.5px;
    line-height: 33px;
    color: #41322a;
}

.btn-cart{
    position: absolute;
    bottom: 32px;
    right: 25px;
    padding: 2px 4px;
    background-color: transparent;
    font-size: 22px;
    color: #41322A;;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 5px;
}

.btn-cart:hover{
    background-color: transparent;
    color: #7D3A2A;
}

.btn-plus{
    position: absolute;
    bottom: 30px;
    right: 100px;
    padding: 2px 4px;
    background-color: transparent;
    font-size: 25px;
    color:  #745954;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 5px;
}

.btn-plus:hover{
    background-color: transparent;
    color: #7D3A2A;
}

.add input{
    position: absolute;
    bottom: 38px;
    right: 150px;
    width: 19px;
    height: 19px;
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;
    color: #41322a;
    background: transparent;
    border: transparent;
}

.btn-min{
    position: absolute;
    bottom: 30px;
    right: 175px;
    padding: 2px 4px;
    background-color: transparent;
    font-size: 25px;
    color:  #745954;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 5px;
}

.btn-min:hover{
    background-color: transparent;
    color: #7D3A2A;
}

.content button{
    border: none;
    margin-bottom: 15px;
}

.btn-edit{
    position: absolute;
    bottom: 45px;
    left:250px;
    padding: 2px 4px;
    background-color: transparent;
    font-size: 15px;
    color:  #745954;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 5px;
}

.btn-edit:hover{
    background-color: transparent;
    color: #7D3A2A;
}

span {
    position: absolute;
    bottom: 55px;
    right:250px;
    padding: 2px 4px;
    color: #41322a;
    font-size: 13px;
    margin-right: 5px;
    font-weight: 600;
}

.unit{
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 33px;
    color: #41322a;
}

.unit input{
    width: 19px;
    height: 19px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 33px;
    color: #41322a;
    background: transparent;
    border: transparent;
}

.unit i{
    display: inline-flex;
    align-items: center;
    padding-right: 5px;
    color: #41322a;
}

.card{
    position: fixed;
    top: 100px;
    left: 100%;
    width: 300px;
    background-color: #CABEC1;
    height: 500px;
    transition: 0.5s;
    border-radius: 20px 0px 0px 20px;
}

.active .card{
    left: calc(100% - 300px);
}

.card h1{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #41322A;
    margin: 5px;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card ul li{
    margin-left: 150px;
    margin-top: -50px;
}

.card .draf, .card .delete{
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #7D3A2A;
    text-decoration:none ;
}

.card .draf:hover, .card .delete:hover{
    color: #41322A;
    text-decoration:none ;
}

.card hr {
    margin-top: -20px;
    border: 1.5px solid  #7D3A2A;;
}

.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.checkOut .btn-print{
    background-color: #7D3A2A;
    color:  #EBD6CA;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0px 0px 0px 20px;
    border: none;
}

.checkOut .btn-print:hover{
    background-color: transparent;
    border: 2px solid #41322A ;
    color:  #41322A;
}

.checkOut .btn-cancel{
    background-color: #41322A ;
    color:  #EBD6CA;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.checkOut .btn-cancel:hover{
    background-color: transparent;
    border: 2px solid #7D3A2A;
    color:  #7D3A2A;
}

#profileModal .modal-content{
    background-color: #41322A;
    border: none;
}

#profileModal .modal-header{
    border: none;
}

#profileModal .modal-header .btn-close{
    background-color: #EBD6CA;
    border-radius: 50px;
    margin-right: 10px;
}

#profileModal .modal-header h5{
    color: #EBD6CA;
    font-style: normal;
    font-weight: 600;
    font-size:25px;
    line-height: 38px;
    margin-left: 165px;
}

#profileModal .modal-body label{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    color: #EBD6CA;
    margin-left: 13px;
}

#profileModal .modal-body input{
    background: #745954;
    border: none;
    width: 95%;
    margin-left: 13px;
}

#profileModal .modal-footer{
    border: none;
}

#profileModal .modal-footer .btn-out{
    background: #7D3A2A;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #EBD6CA;
    border: none;
    width: 93%;
    margin-left: 18px;
}

#profileModal .modal-footer .btn-out:hover{
    background: #745954;
    border: none;
}

#editModal .modal-content{
    background-color: #41322A;
    border: none;
}

#editModal .modal-header{
    border: none;
}

#editModal .modal-header h5{
    color: #EBD6CA;
    font-style: normal;
    font-weight: 600;
    font-size:25px;
    line-height: 38px;
    margin-left: 12px;
}

#editModal .modal-header .btn-close{
    background-color: #EBD6CA;
    border-radius: 50px;
    margin-right: 10px;
}

#editModal .modal-body label{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    color: #EBD6CA;
    margin-left: 13px;
    margin-top: 10px;
}

#editModal .modal-body input{
    background: #745954;
    border: none;
    width: 95%;
    margin-left: 13px;
}


#editModal .modal-body .btn-delete{
    color: #CABEC1;
    margin-left: 90%;
    font-size: 25px;
    border: none;
    margin-top: 10px;
}

#editModal .modal-body .btn-delete:hover{
    color: #7D3A2A;
}

#editModal .modal-footer{
    border: none;
}

#editModal .modal-footer .btn-drop{
    background: #7D3A2A;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #EBD6CA;
    border: none;
}

#editModal .modal-footer .btn-save{
    background: #745954;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #EBD6CA;
    border: none;
    margin-right: 15px;
}

#editModal .modal-footer .btn-drop:hover{
    background: #745954;
    border: none;
}

#editModal .modal-footer .btn-save:hover{
    background: #7D3A2A;
    border: none;
}

#itemModal .modal-content{
    background-color: #41322A;
    border: none;
}

#itemModal .modal-header{
    border: none;
}

#itemModal .modal-header h5{
    color: #EBD6CA;
    font-style: normal;
    font-weight: 600;
    font-size:25px;
    line-height: 38px;
    margin-left: 12px;
}

#itemModal .modal-header .btn-close{
    background-color: #EBD6CA;
    border-radius: 50px;
    margin-right: 10px;
}

#itemModal .modal-body label{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    color: #EBD6CA;
    margin-left: 13px;
    margin-top: 10px;
}

#itemModal .modal-body input{
    background: #745954;
    border: none;
    width: 95%;
    margin-left: 13px;
}


#itemModal .modal-footer{
    border: none;
}

#itemModal .modal-footer .btn-batal{
    background: #7D3A2A;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #EBD6CA;
    border: none;
}

#itemModal .modal-footer .btn-tambah{
    background: #745954;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #EBD6CA;
    border: none;
    margin-right: 15px;
}

#itemModal .modal-footer .btn-batal:hover{
    background: #745954;
    border: none;
}

#itemModal .modal-footer .btn-tambah:hover{
    background: #7D3A2A;
    border: none;
}

#drafModal .modal-content{
    background-color: #41322A;
    border: none;
}

#drafModal .modal-header{
    border: none;
}

#drafModal .modal-header h5{
    color: #EBD6CA;
    font-style: normal;
    font-weight: 600;
    font-size:25px;
    line-height: 38px;
    margin-left: 12px;
}

#drafModal .modal-header .btn-close{
    background-color: #EBD6CA;
    border-radius: 50px;
    margin-right: 10px;
}

#drafModal .modal-body label{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    color: #EBD6CA;
    margin-left: 13px;
    margin-top: 10px;
}

#drafModal .modal-body input{
    background: #745954;
    border: none;
    width: 95%;
    margin-left: 13px;
}


#drafModal .modal-footer{
    border: none;
}

#drafModal .modal-footer .btn-checkOut{
    background: #7D3A2A;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #EBD6CA;
    border: none;
    width: 93%;
    margin-left: 18px;
}

#drafModal .modal-footer .btn-checkOut:hover{
    background: #745954;
    border: none;
}




